html,body{
    width:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    height:100%;
}
.fix-overflow{
    width:100%;
}

*{font-family: 'Titillium Web', sans-serif;
box-sizing:border-box;}
.container{
    padding-top: 16px;
padding-bottom:16px;
}


.embed-responsive{
    margin:8px;

}
.jumbotron{
    margin-bottom:0px;
   
}
@media (max-width:576px){
    .fs-sm-min{
    min-height: 100vh !important;
}
.fs-sm{
    height:100vh !important;
}
.fs-sm-max{
    max-height: 100vh!important;

}
.container{
    margin-left:0px !important;
}


}

.bg-white,.btn-white{
    background-color:white !important;
    border-color:white !important;
}
.bg-lp{
    background-color: #eedee1 !important;
}
.navbar,.bg-dp,.btn-dp{
    /* background-color: #df6589ff !important; */
    background: url(../assets/dpbg.jpg) center center fixed!important;
    background-size: cover;
    border-color:  #f17aa7!important;
}

    

.btn-ep,.bg-ep{
    
    /* background-color: #fd5bab !important;
    border-color: #fd5bab !important; */
    background-color: #fd92d6;
    border-color: #fd92d6;
    
    }
    .btn-ep:hover{
        background-color:#bb3168 !important;
        border-color:#bb3168 !important;
    }
    .btn-dp:hover{
        background-image: none !important;
        background-color:#f17aa7 !important;
        border-color:#f17aa7 !important;
    }
    .btn-hover{
    height:86%;
width:86%;
}

    .btn-hover:hover{
        background:  #fd92d6;
    }
    .text-white{
        text-decoration-color: white !important;

    }
    .text-ep{
        text-decoration-color: #bb3168 !important;

    }
   
    
    .text-brown{
        text-decoration-color: #bb3168 !important;
    }
    .fa-minus{
        opacity:0.8;

    }
    .disease{
        margin:5% !important;
       padding:8px !important;
    }

    /* .text-dp{


    }
    .text-ep{
        text-decoration-color: #bb3168;

    } */


    /* background-color: #bb3168 !important;
    border-color:#bb3168 !important ;
} */
